<div class="view-page">
<mat-card class="w-50 my-card">
  <mat-card-title>Editar Usuário</mat-card-title>
  <form>
      <mat-form-field  appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Login" [disabled]="loading"
          [(ngModel)]="user.username" name="username" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha" [disabled]="loading"
            [(ngModel)]="user.password" name="password" required>
      </mat-form-field>
      <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" [disabled]="loading"
          [(ngModel)]="user.firstName" name="firstName" required>
      </mat-form-field>
      <mat-form-field>
    <mat-label>SobreNome</mat-label>
    <input matInput placeholder="SobreNome" [disabled]="loading"
        [(ngModel)]="user.lastName" name="lastName" required>
      </mat-form-field>

   <h4>Perfil Usuário</h4>
  <mat-form-field appearance="fill">
    <mat-label>Perfil</mat-label>
    <mat-select [(ngModel)]="selectedValueRole" name="role" required>
      <mat-option *ngFor="let role of roles" [value]="role.value">
        {{role.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  </form>
  <button mat-raised-button [disabled]="loading" (click)="editUser()" color="primary">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Salvar
  </button>

  <button mat-raised-button [disabled]="loading"  (click)="cancel()">
      Cancelar
  </button>
</mat-card>
</div>
