
<div class="view-page">
  <mat-card class="w-50">
    <mat-card-title>Exclusão Usuário</mat-card-title>
    <form>
    <hr>
      <mat-label>Confirma a exclusão para usuário {{user.lastName}}?</mat-label>
    </form>
      <hr>
    <button mat-raised-button [disabled]="loading" (click)="confirmaexclusao()" color="primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Excluir
    </button>

    <button mat-raised-button [disabled]="loading" (click)="cancel()">
        Cancelar
    </button>
  </mat-card>
</div>

