/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { cursor: pointer }

.login-alert-info {
    color: #f8f9fa;
    background-color: #007bff;
    border-color: #bee5eb;
    text-align: center;
 }

.bgr-color {
  background-color: azure;
}

.container-center {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
